/* You can add global styles to this file, and also import other style files */

.hero {
  background: lightgray;
  border-left: solid 6px darkgreen;
  padding: 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}